@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: blueviolet;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(114, 69, 156);
}

nav a {
  color: bisque;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
}

.sloganSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.homeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sloganSection div img {
  width: 400px;
}

.sloganSection div p {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.homeSection div {
  background-color: rgb(228, 142, 72);

  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
}
.homeSection div img {
  width: 150px;
}

.homeSection div p {
  padding: 10px;
}
